---
---

footer {
  display: none !important;
}

.content a,
.post__content a,
.content a:link,
.content a:visited,
.content a:hover,
.content a:active {
  font-size: 1em !important;
  font-size: inherit !important;
}

a {
  font-size: inherit !important;
}

/* Fix extra white space on mobile */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.post__wrapper {
  min-height: 0 !important;
  height: auto !important;
  padding-bottom: 1rem;
}

main {
  min-height: 0 !important;
  height: auto !important;
}

body {
  min-height: 0 !important;
}

/* Very visible debug borders */
* {
  outline: 3px solid red !important;
}

body {
  background: yellow !important;
}

.post__wrapper {
  background: lightblue !important;
}

main {
  background: lightgreen !important;
}
